header {
    
    text-align: center;
}

body {
    background-color: hsl(38, 100%, 50%);
    color: hsl(275, 90%, 20%);
    font-family: Arial;
}

#about {
    display: flex;
    padding: 1% 0;
}


.left {
    flex: 3;
    margin: 1px;
}

.right {
    flex: 7;
    margin: 1px;
}

.col {
    border: 2px solid rgb(87, 24, 97);
    border-radius: 20px;
    padding: 22px;
    background-color: rgb(235, 222, 164);
}

footer {
    border: 2px solid rgb(87, 24, 97);
    border-radius: 20px;
    padding: 10px;
    background-color: rgb(235, 222, 164);
    text-align: center;
}